<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="1" preserve-order="true"
          name="EndpointDataValidationTest">
        <classes>
            <class name="rest.assured.tests.mockapi.EndpointDataValidationTest">
                <methods>
                    <include name="testEndpointDataValidation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="CreateApiRecordsTests">
        <classes>
            <class name="rest.assured.tests.mockapi.CreateApiRecordsTests">
                <methods>
                    <include name="testCreateApiRecords"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="3" preserve-order="true"
          name="DuplicateEmailResponseTest">
        <classes>
            <class name="rest.assured.tests.mockapi.DuplicateEmailResponseTest">
                <methods>
                    <include name="testDuplicateEmailResponse"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="4" preserve-order="true"
          name="CreateJiraBugTest">
        <classes>
            <class name="rest.assured.tests.jira.CreateJiraBugTest">
                <methods>
                    <include name="testCreateJiraBug"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="5" preserve-order="true"
          name="AutoIncrementalBugIdTest">
        <classes>
            <class name="rest.assured.tests.jira.AutoIncrementalBugIdTest">
                <methods>
                    <include name="testAutoIncrementalBug"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="6" preserve-order="true"
          name="PopulateJiraBugTest">
        <classes>
            <class name="rest.assured.tests.jira.PopulateJiraBugTest">
                <methods>
                    <include name="testPopulateJiraBug"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>