<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="1" preserve-order="true"
          name="/Users/alejandrotaborda/Documents/documentation/EntregasGlobant/finalTaeDelivery">
        <classes>
            <class name="com.globant.automation.tests.BookingTest">
                <methods>
                    <include name="bookingToLocation"/>
                    <include name="completeBooking"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="/Users/alejandrotaborda/Documents/documentation/EntregasGlobant/finalTaeDelivery">
        <classes>
            <class name="com.globant.automation.tests.ApiShoppingTest">
                <methods>
                    <include name="addingProductToCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

